@model IEnumerable<EtecShop.Models.Product>
@{
    ViewData["Title"] = "Admin";
    Layout ="~/Views/Shared/_LayoutAdmin.cshtml"; 
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo a Adminstrador</h1>
</div>
